# Server
apps/server/rvc
apps/server/logs
apps/server/audios
apps/server/env
apps/server/version.json
apps/server/dist
apps/server/build
apps/server/enviroment

# Installer
apps/installer/env

# Desktop
apps/desktop/logs
apps/desktop/*.log
apps/desktop/npm-debug.log*
apps/desktop/yarn-debug.log*
apps/desktop/yarn-error.log*
apps/desktop/pnpm-debug.log*
apps/desktop/lerna-debug.log*
apps/desktop/dist
apps/desktop/dist-ssr
apps/desktop/*.local
apps/desktop/src-tauri/python/server.exe
apps/desktop/src-tauri/version.json
apps/desktop/compiled
apps/desktop/node_modules
apps/desktop/.pnp
apps/desktop/.pnp.js
apps/desktop/.env
apps/desktop/tsconfig.tsbuildinfo
node_modules

# Global
coverage
.turbo
.vercel
.env
.next/
out/
build
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

/build/*
!/build/.gitkeep

# deeivihh stuff
notes