@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}


.title {
	font-family: "Syne", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #909090;
}
